/* UltraLight fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Ultralight-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Ultralight-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Ultralight-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Ultralight-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Ultralight-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Ultralight-WebXL.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-UltralightItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-UltralightItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-UltralightItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-UltralightItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-UltralightItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-UltralightItalic-WebXL.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
}

/* Thin fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Thin-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Thin-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Thin-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Thin-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Thin-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Thin-WebXL.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-ThinItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-ThinItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-ThinItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-ThinItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-ThinItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-ThinItalic-WebXL.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
}

/* Book Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Book-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Book-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Book-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Book-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Book-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Book-WebXL.woff2") format("woff2");
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-BookItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-BookItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-BookItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-BookItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-BookItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-BookItalic-WebXL.woff2") format("woff2");
    font-weight: 250;
    font-style: italic;
}

/* Light Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Light-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Light-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Light-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Light-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Light-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Light-WebXL.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-LightItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-LightItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-LightItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-LightItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-LightItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-LightItalic-WebXL.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

/* Regular Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Regular-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Regular-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Regular-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Regular-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Regular-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-RegularItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-RegularItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-RegularItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-RegularItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-RegularItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-RegularItalic-WebXL.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

/* Medium Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Medium-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Medium-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Medium-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Medium-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Medium-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Medium-WebXL.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-MediumItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-MediumItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-MediumItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-MediumItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-MediumItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-MediumItalic-WebXL.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

/* Semi Bold Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-SemiBold-WebM.woff") format("woff"), url("../fonts/SuisseIntl-SemiBold-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-SemiBold-WebS.woff") format("woff"), url("../fonts/SuisseIntl-SemiBold-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-SemiBold-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-SemiBold-WebXL.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-SemiBoldItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-SemiBoldItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-SemiBoldItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-SemiBoldItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-SemiBoldItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-SemiBoldItalic-WebXL.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

/* Bold Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Bold-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Bold-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Bold-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Bold-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Bold-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Bold-WebXL.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-BoldItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-BoldItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-BoldItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-BoldItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-BoldItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-BoldItalic-WebXL.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

/* Bold Fonts */
@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-Black-WebM.woff") format("woff"), url("../fonts/SuisseIntl-Black-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Black-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Black-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Black-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Black-WebXL.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "SuisseInt`l";
    src: url("../fonts/SuisseIntl-BlackItalic-WebM.woff") format("woff"), url("../fonts/SuisseIntl-BlackItalic-WebM.woff2") format("woff2"),
        url("../fonts/SuisseIntl-BlackItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-BlackItalic-WebS.woff2") format("woff2"),
        url("../fonts/SuisseIntl-BlackItalic-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-BlackItalic-WebXL.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
}
