@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  font-family: "SuisseInt`l", sans-serif;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f7f8ff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
button,
input,
textarea {
  font-family: "SuisseInt`l";
  color: inherit;
  padding: 0;
}

button {
  border: 0;
  background: none;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #252733;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .1)
}

::-webkit-scrollbar {
    background: hsla(0, 0%, 100%, .2);
    position: absolute;
    width: 2px;
    height: 2px
}

::-webkit-scrollbar-thumb {
    background-color: #4b506d
}
